# Stiahnutie a uloženie OMNI dát
Súbor: 1_stiahnutie_a_ulozenie_dat.ipynb

Program: Hospodárska informatika

Vypracovala: Bc. Veronika Motúzová

Diplomová práca: : Predikcia geomagnetickych búrok pomocou hlbokého učenia

Vedúci diplomovej práce: doc. Ing. Peter Butka, PhD.

Konzultanti: Ing. Viera Maslej Krešňáková, PhD., RNDr. Šimon Mackovjak, PhD.

### Inštalácia knižníc

In [ ]:
pip install aidapy

In [ ]:
pip install heliopy==0.15.4

In [ ]:
pip install h5netcdf

In [ ]:
pip install pydot

In [ ]:
pip install graphviz

In [ ]:
pip install pydotplus

### Spustenie aidapy
podľa: https://pypi.org/project/aidapy/

Do terminálu postupne zadať:

In [ ]:
git clone https://gitlab.com/aidaspace/aidapy.git
cd aidapy
pip install conda
conda create -n aidapy
source activate aidapy
python setup.py install
pip install aidapy[ml]
python setup.py test
pip install aidapy[doc]
python setup.py build_sphinx
cd doc
make html

Ak je to už raz nainštalované, stačí zadať:

In [ ]:
cd aidapy
cd doc
make html

### Stiahnutie dát

In [7]:
from aidapy import load_data
from datetime import datetime
import numpy as np

Creating download directory /home/jovyan/heliopy/data

In [ ]:
# Zvolime si casove obdobie zaznamov dat od-do
t0 = datetime(1963, 1, 1)
t1 = datetime(2022, 5, 14)

# Nacitanie dat
omnixr = load_data(mission='omni', start_time=t0, end_time=t1)

# Pretypovanie na format pandas
pd_data = omnixr['all1'].to_pandas()

pd_data.describe()

### Uloženie dát do súboru .csv

In [10]:
pd_data.to_csv('omni_full.csv')

In [11]:
pd_data.head()

products,Rot$,IMF,PLS,IMF_PTS,PLS_PTS,ABS_B,F,THETA_AV,PHI_AV,BX_GSE,...,F10_INDEX,KP,DST,AE,AP_INDEX,AL_INDEX,AU_INDEX,PC_N_INDEX,Solar_Lyman_alpha,Proton_QI
time1,,,,,,,,,,,,,,,,,,,,,
1963-01-01 01:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,-5.0,143.0,3.0,99999.0,99999.0,NaN,0.006194,NaN
1963-01-01 02:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,7.0,-5.0,66.0,3.0,99999.0,99999.0,NaN,0.006194,NaN
1963-01-01 03:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,-3.0,51.0,7.0,99999.0,99999.0,NaN,0.006194,NaN
1963-01-01 04:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,-3.0,95.0,7.0,99999.0,99999.0,NaN,0.006194,NaN
1963-01-01 05:00:00,1771.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,20.0,-6.0,57.0,7.0,99999.0,99999.0,NaN,0.006194,NaN

In [12]:
pd_data.tail()

products,Rot$,IMF,PLS,IMF_PTS,PLS_PTS,ABS_B,F,THETA_AV,PHI_AV,BX_GSE,...,F10_INDEX,KP,DST,AE,AP_INDEX,AL_INDEX,AU_INDEX,PC_N_INDEX,Solar_Lyman_alpha,Proton_QI
time1,,,,,,,,,,,,,,,,,,,,,
2022-05-13 12:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,2.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
2022-05-13 13:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,4.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
2022-05-13 14:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,5.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
2022-05-13 15:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,5.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN
2022-05-13 16:00:00,9999.0,99.0,99.0,999.0,999.0,NaN,NaN,NaN,NaN,NaN,...,NaN,99.0,4.0,9999.0,999.0,99999.0,99999.0,NaN,NaN,NaN

In [13]:
len(pd_data)

520443